/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@import url(https://use.fontawesome.com/releases/v5.7.2/css/all.css); 
// @import url(https://fonts.googleapis.com/css?family=Lato); 
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans); 



* {
    font-family: 'Josefin Sans', sans-serif !important; 
}


.btn-green {
    padding: 12px 40px 10px;
    height: 40px;
    border-radius: 6px;
    background-color: #90d06f;
    color: #000;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    &:hover:not(.disable-hover) {
        background-color: #90d06f;
        color: #000; 
    }
}


.header-background {
    --background: #90d06f;
    font-family: 'Josefin Sans', sans-serif !important;
    .title-default {
        --color:#000;
    }
}